<div class="top-container" style="display: flex; align-items: center; margin-bottom: 2em;">
  <img src="/E-mail.jpg" alt="Logo" style="width: 48px; height: 48px; margin-right: 18px;">
  <h1 style="margin: 0;">Email List</h1>
</div>

<div>
  <a class="buttons" routerLink="/compose">Compose email</a>
</div>

<div>
  <div style="margin-bottom: 1em;">
    <label>
      Emails only with body:
      <input type="checkbox" [(ngModel)]="withBody">
    </label>
  </div>
  <div style="margin-bottom: 1em;">
    <label>
      Enter filter text:
      <input type="text" [(ngModel)]="filterTerm">
    </label>
  </div>
</div>

<div class="empty-list-message">
  <div *ngIf="emailList.length === 0" class="mt-5">The list of emails is empty</div>
</div>

<div>
  <table class="table table-striped mt-5" *ngIf="emailList.length > 0">
    <thead>
      <tr>
        <th scope="col">To</th>
        <th scope="col">From</th>
        <th scope="col">Subject</th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mail of filteredEmails | filterText:filterTerm" class="border-bottom">
        <td>{{ mail.to }}</td>
        <td>{{ mail.from }}</td>
        <td>{{ mail.subject }}</td>
        <td>{{ mail.body }}</td>


        <td><button class="btn btn-outline-secondary" (click)="remove(mail)">Delete</button></td>
          <td><button class="btn btn-outline-secondary" [routerLink]="['/email', mail.id]">View</button></td>
      </tr>
    </tbody>
  </table>
</div>
