input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched {
  border: 10px solid green;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 10px solid yellow;
}

input:focus,
textarea:focus {
  background-color: #e6f7ff;
}

.buttons-container {
  display: flex;
  gap: 2rem;
}

.send-button,
.reset-button
{
  font-size: 1.1rem;
  padding: 0.5em 1.1em;
  border-radius: 12px;
  min-width: 120px;
  min-height: 48px;
  box-sizing: border-box;
}

.send-button {
  background-color: #ffe4e4;
  color: black;
  border: none;
}

.reset-button {
  background: white;
  border: 2.5px solid #bcc0c4;
  color: #444;
}

.send-button:hover {
  border-color: #888;
  background: lightcoral;
}

.reset-button:hover {
  border-color: #888;
  background: #f6f7f8;
}

.back-list-button {
  margin-top: 2rem;
  padding: 0.6em 1.6em;
  border-radius: 14px;
  background-color: #ffe4e4;
  font-weight: 600;
  color: black;
  display: inline-block;
  text-decoration: none;
}

.back-list-button:hover {
  border-color: #888;
  background: lightcoral;
}